.product_card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid transparent;
    width: 318px;
    height: 550px;
    position: relative;
}

.product_card img {
    width: 318px;
    height: 370px;
    object-fit: cover;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    margin: 10px;
}

.discount_price {
    font-size: 30px;
}

.old_price {
    color:rgba(139, 139, 139, 1);
    text-decoration: line-through;
    font-size: 20px; 
}

.procent_price {
    color: red;
    font-size: 20px;
}

.title_product {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    margin: 10px 0;
    
}

.product_cart_btn {
    width: 300px;
    height: 45px;
    background: rgb(20, 126, 20);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    bottom: 5px;
    left: 8px;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    cursor: pointer;
    
   
}

.product_cart_btn:hover {
    background-color: rgb(151, 218, 52);
}